{% extends 'main/base.html' %} 

{% load static %} 

{% block title %} {{'О нас'}} {% endblock %} 

{% block content %}
<div class="container">
    <div class="mission pad">
        <h1>О нас</h1>
        <h2>Наша миссия</h2>
        <p>Мы стремимся сделать изучение английского языка доступным и увлекательным для каждого. Наша цель — помочь вам преодолеть языковой барьер и открыть новые горизонты.</p>
    </div>
    <div class="blue-block pad">
        <div class="why-choose-us">
            <h2>Почему выбирают нас?</h2>
            <ul>
                <li>🧑‍🏫 Опытные преподаватели</li>
                <li>💻 Удобный онлайн-формат</li>
                <li>📚 Индивидуальные программы обучения</li>
                <li>🌍 Международное сообщество студентов</li>
                <li>🎓 Сертификация по окончании курсов</li>
            </ul>
        </div>
        <div class="testimonials">
            <h2>Отзывы наших студентов</h2>
            <form action="{% url 'reviews' %}">
                <button class="button">Посмотреть все отзывы</button>
            </form>
        </div>
    </div>
    <div class="contact pad">
        <h2>Свяжитесь с нами</h2>
        <p>Электронная почта: info@englishlvl.com</p>
        <p>Телефон: +1 (234) 567-890</p>
    </div>
</div>
{% endblock %}
